@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
:root {
  --mobile-breakpoint: 23.4375em;
  --tablet-breakpoint: 40em;
  --desktop-breakpoint: 64em;
  --color-white: white;
  --color-grey: hsl(0, 0%, 58%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-blue-800: hsl(234, 29%, 20%);
  --color-red: hsl(4, 100%, 67%);
  --color-focus: #005fcc;
  --fsize-500: 2.5rem;
  --fsize-400: 1.0625rem;
  --fsize-300: 1rem;
  --fsize-50: 0.875rem;
  --fweight-regular: 400;
  --fweight-bold: 700;
  --margin-container: 2rem auto;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--color-blue-700);
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  margin-block-start: 1rem;
  width: min(100%, 30rem);
  padding: 1.25rem 2rem;
  border: none;
  background-color: var(--color-blue-800);
  color: white;
  font-weight: var(--fweight-bold);
  font-size: var(--fsize-400);
  border-radius: 8px;
}
.btn:focus {
  outline: none;
}
.btn:focus-visible {
  outline: 2px solid var(--color-focus);
  outline-offset: 2px;
}

.form .form__group {
  display: block;
  font-weight: var(--fweight-bold);
  color: var(--color-blue-800);
  font-size: var(--fsize-50);
}
.form .form__group-header {
  display: flex;
  justify-content: space-between;
}
.form .form__input {
  padding: 1.25rem 1rem;
  width: 100%;
  border: 1px solid var(--color-blue-700);
  border-radius: 8px;
  margin-block-start: 0.5rem;
}
.form .form__input::-moz-placeholder {
  font-family: Roboto, sans-serif;
}
.form .form__input::placeholder {
  font-family: Roboto, sans-serif;
}
.form .form__error {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.invalid .form__error {
  opacity: 1;
  visibility: visible;
  color: var(--color-red);
  outline: var(--color-red);
}
.invalid .form__input {
  color: var(--color-red);
  outline: var(--color-red);
  border: 2px solid var(--color-red);
}

.newsletter {
  background-color: var(--color-white);
  width: 100%;
  margin: var(--margin-container);
}
@media (min-width: 40em) {
  .newsletter {
    width: min(90%, 30rem);
    border-radius: 16px;
    padding: 1.5rem;
  }
}
@media (min-width: 64em) {
  .newsletter {
    width: min(90%, 52.5rem);
    border-radius: 16px;
    padding: 1.5rem;
  }
}
@media (min-width: 64em) {
  .newsletter__container {
    display: flex;
    justify-content: space-between;
  }
}
.newsletter__content {
  padding: 1.5rem 1rem;
}
@media (min-width: 64em) {
  .newsletter__content {
    order: -1;
  }
}
@media (min-width: 40em) {
  .newsletter__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.newsletter__title {
  font-size: var(--fsize-500);
  color: var(--color-blue-800);
}
.newsletter__information {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.newsletter__benefit {
  margin-block-start: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.newsletter__benefit--item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.newsletter__success:open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.newsletter__success::backdrop {
  background-color: var(--color-blue-800);
}
.newsletter__success {
  padding: 1.5rem;
  width: min(100%, 30em);
  border-radius: 16px;
  margin: var(--margin-container);
}
.newsletter__success-icon {
  width: 4rem;
  height: 4rem;
}
.newsletter__success-title {
  margin-block-start: 2rem;
  font-size: var(--fsize-500);
  color: var(--color-blue-800);
}
.newsletter__success-description {
  margin-block-start: 1.5rem;
}
.newsletter__success-email {
  font-weight: var(--fweight-bold);
}
.newsletter__success .btn__dismiss {
  margin-block-start: 15rem;
}
@media (min-width: 64em) {
  .newsletter__success .btn__dismiss {
    margin-block-start: 5rem;
  }
}

.invisible {
  display: none;
}/*# sourceMappingURL=styles.css.map */